body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f57b42;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ddd;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

p.header_tb{
    text-align: center;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px auto;
}

footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
text-align: center;
padding: 20px;
background-color: #49abf5;
color: #fff;
}